/* Responsive Bilder */
.responsive-figure-50 img,
.responsive-figure-50 svg {
  width: 90%;
  max-width: 90%;
  height: auto;
}

/* Ab Tablet-Größe: 50% Breite */
@media (min-width: 768px) {
  .responsive-figure-50 img,
  .responsive-figure-50 svg {
    width: 50%;
    max-width: 600px;
  }
}

/* Optional: Zentrierung */
.responsive-figure-50 {
  text-align: center;
}

.link-icon {
  width: 0.9em;
  height: 0.9em;
  display: inline-block;
  vertical-align: -0.1em;
  margin-left: 0.2em;
}